html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    width: 99vw;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#area{
    color: aliceblue;
    text-align: center;
    width: 20%;
    height: 20%;
    background-color: rgb(5, 223, 23);

}