@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}

* {
    font-family: 'Raleway_f', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: #010101;
    font-family: raleway_f, sans-serif;
    line-height: 1.0;
}

.frame>embed {
    display: none;
}

.layer1 {
    position: relative;
    height: 100vh;
    width: 99vw;
    background: url("../Assets/layer-base.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-text>#welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 34%;
    font-size: 64px;
    line-height: 64px;
    color: yellow;
    font-weight: 400;
    z-index: 0;
}
.welcome-text>#portifolio{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30%;
    top: 55%;
    left: 30%;
    font-size: 90pt;
    color: yellow;
    font-weight: 400;
    line-height: 90px;
}

.layer1>.middle>img {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 99vw;
    z-index: +1;
}

.layer1>.front>img {
    position: sticky;
    bottom: 0;
    height: 100vh;
    width: 99vw;
}

.layer2 {
    position: relative;
    height: 100vh;
    width: 99vw;
    background: url("../Assets/dungeon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.layer2>.ground {
    background-image: url("../Assets/ground.png");
    position: absolute;
    top: -12%;
    height: 20vh;
    width: 99vw;
}

.layer2>p {
    border: 1px solid white;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 64pt;
    color: yellow;
}