@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header */
.top {
    margin: 0px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    display: flex;
}

.menu {
    display: flex;
    width: 80vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);

}

.menu>.logo {
    padding: 5px;
    align-items: center;
    display: flex;
}

.menu>.logo>a>img {
    width: 100px;
    height: 100px;
}

.menu>ul {
    margin: 0px 70px 0px 20px;
    display: flex;
}

.menu>ul>li {
    margin: 0px 5px 0px 5px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.363);
}

a {
    text-decoration: none;
    color: black;
}

.menu>ul>li:hover {
    color: rgb(255, 255, 255);
    background-color: gray;
    font-weight: bold;
    border: none;
    cursor: pointer;
}



/* Main */
.centralizamain {
    width: 70vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
}

.card {
    align-items: center;
    display: flex;
}

.card>img {
    width: 500px;
    height: 350px;
}

.descricao {
    margin: 0px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35vh;
    width: 25vw;
}

.descricao>h1 {
    font-size: 18px;
    color: rgb(46, 102, 255);
}

.descricao>button {
    padding: 10px 10px 10px 10px;
    background-color: rgb(24, 24, 253);
    border-radius: 10px;
    color: aliceblue;
    border: none;
    width: 130px;
}