@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 16px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Header */
.top {
    margin: 0px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: #128c7e;
}

.menu {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    color: rgb(0, 0, 0);

}

.menu>.logo {
    padding: 5px;
    align-items: center;
    display: flex;
}

.menu>.logo>a>img {
    width: 150px;
    height: 80px;
}
.menu>.logo>p{
    color:aliceblue;
    font-size: 24px;
    font-weight: bold;
    padding: 0px 0px 0px 10px;
}
.separa{
    width: 68vw;
}




/* Main */
.main{
    width: 100%;
    height: 90vh;
    display: flex;
    background-color: bisque;
}
aside{
    width: 25%;
    background-color: azure;
}

aside>ul{
    display: flex;
    flex-direction: column;
    
}
aside>ul>li{
    width: 362px;
    height: 79px;
    font-size: 24px;
    border-radius: 5px;
}
aside>ul>li:hover{
    background-color: gray;
    cursor: pointer;

}
main{
    width: 75%;
    background-color: aqua;
}
