@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    font-weight: bold;
    list-style: none;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 99vh;
}

header {
    width: 100%;
    height: 15%;
}

/* GAMESTORE,MINHA CONTA,PESQUISAR */
.topheader,
.listheader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60%;
    background-color: black;
    color: white;
}

.topheader>p {
    font-size: 40pt;
}

.pesquisar,
.minhaconta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisar>img {
    width: 30px;
    height: 30px;
}

.minhaconta>img {
    width: 30px;
    height: 25px;
    padding: 0px 5px 0px 0px;
}



/* LISTA HEADER */
.listheader {
    justify-content: center;
    height: 40%;
    background-color: whitesmoke;
    color: black;
    font-size: 22pt;
}

.listheader>ul {
    display: flex;
}

.listheader>ul>li {
    padding: 0px 40px;
}

.listheader>ul>li:hover {
    cursor: crosshair;
    background-color: rgb(180, 178, 178);
}


/* MAIN */
main {
    width: 100%;
    height: 50%;
    position: relative;
}

/* div display */
/* div display */
.displaycard {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('./Assets/img-jogo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fundonegro {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.397);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 99;
}

/* Posicionadores */
/* Posicionadores */
.posiciona {
    height: 100%;
    width: 25%;
}

.posiciona2 {
    height: 100%;
    width: 45%;
}

/* Display-cards */
/* Display-cards */
.display {
    z-index: 99;
    color: rgb(255, 255, 255);
    display: flex;
    width: 30%;
}

.display>.card-display>img {
    width: 290px;
    height: 270px;
}

/* text-display card */
/* text-display card */
.text-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 60%;
    height: 50%;
}

.button-display>input {
    width: 200px;
    padding: 7px 25px;
    color: white;
    background-color: rgb(67, 67, 67);
}

input:hover {
    cursor: pointer;
}


/* CARDS */
/* CARDS */
.table-cards {
    height: 1000px;
    width: 100%;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 30px 50px 0px 0px;
    width: 15vw;
    height: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.card:hover{
    box-shadow: 0px 10px 25px 10px black;
}
.card>img {
    height: 60%;
    width: 80%;
}

.card>input {
    border: none;
    background-color: yellow;
    padding: 5px 20px;
}