* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;

}

.layer1 {
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 99vw;
    background: url("./Assets/layer-base.png");
    background-size: cover;
}

.layer1>.middle {
    background-repeat: no-repeat;
    background-image: url("./Assets/layer-middle.png");
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 99vw;
}

.layer1>.front {
    background-repeat: no-repeat;
    background-image: url("./Assets/layer-front.png");
    background-size: cover;
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 99vw;
}

.layer2 {
    position: relative;
    height: 100vh;
    width: 99vw;
    background: url("./Assets/dungeon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.layer2>.ground {
    background-image: url("./Assets/ground.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    height: 15vh;
    width: 99vw;
}
