* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}

header {
    margin-top: 10vh;
    color: aliceblue;
    width: 50vw;
    height: 10vh;
}

.container {
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 5px 5px 4px 4px black;
    /*AULA  */
    width: 50vw;
    height: 50vh;
    display: grid;
    gap: 5px 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-auto-rows: 20%;
}

.container>div {
    border-radius: 20px;
    background-color: rgb(212, 208, 208);
}

.area>div,
aside {
    border-radius: 20px;
    border: 3px solid rgb(243, 0, 0);
}

.area {
    margin: 100px 0px;
    height: 80vh;
    width: 80vw;
    background-color: azure;
    border-radius: 20px;
    box-shadow: 5px 5px 4px 4px black;
    display: grid;
    grid-template-areas:
        'header header'
        'main a1'
        'main a2';
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}

.a1 {
    grid-area: a1;
}

.a2 {
    grid-area: a2;
}