@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


/* .Class */
.title {
    color: blue;
    font-family: 'Silkscreen', 'Arial', 'sans-serif';
    font-size: 25px;
    width: 250px;
    height: 250px;
    background-color: rgba(0, 255, 255, 0.667);
    border: 20px groove rgb(156, 107, 154);
}

/* #ID */
/* dotted,double,dashed,solid,groove,inset,outset */
#texto {
    color: purple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    border: 10px dashed red;
}

/* Tag */
p {
    color: fuchsia;
}

body {
    background-image: url("../Assets/wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;

}